In [1]:
import pandas as pd

## CSV读取

In [ ]:
ratings = pd.read_csv('../data/ml-25ms/ratings.csv')
ratings.head()

In [ ]:
user_item_counts = ratings.groupby('userId')['movieId'].nunique().reset_index()
user_item_counts.columns = ['userId', 'item_count']
user_item_counts['item_count'].min(), user_item_counts['item_count'].max()

In [ ]:
ratings['rating'].min(), ratings['rating'].max()

In [ ]:
movies = pd.read_csv('../data/ml-25m/movies.csv')
movies.head()

In [ ]:
item_entities = movies.iloc[:, :2].values.tolist()  # 只取前两列
item_entities = [[str(x), str(y)] for x, y in item_entities]
item_entities[:10]

## dat读取

In [2]:
ratings = pd.read_csv('../data/ml-1m/interaction.dat', sep='::', names=['userId', 'movieId', 'rating', 'timestamp'])
ratings.head()

/tmp/ipykernel_17754/2744848790.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv('../data/ml-1m/interaction.dat', sep='::', names=['userId', 'movieId', 'rating', 'timestamp'])

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [4]:
ratings[ratings['movieId'] == 91]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [15]:
# 按照userid和时间戳进行排序
ratings = ratings.sort_values(['userId', 'timestamp'])
ratings.reset_index(drop=True, inplace=True)
# 查找userid=2547的用户记录
df = ratings[(ratings['rating'] > 2)]
df = df.reset_index(drop=True)

In [16]:
# 过滤交互次数少于阈值的用户和物品
user_counts = df['userId'].value_counts()
item_counts = df['movieId'].value_counts()

users_to_keep = user_counts[user_counts >= 10].index
items_to_keep = item_counts[item_counts >= 10].index

df = df[df['userId'].isin(users_to_keep)]
df = df[df['movieId'].isin(items_to_keep)]

In [19]:
num_users = df['userId'].nunique()
print(f"用户总数: {num_users}")
num_items = df['movieId'].nunique()
print(f"物品总数: {num_items}")

用户总数: 6033
物品总数: 3123

In [22]:
# 统计交互次数少于10次的用户数量
users_with_few_interactions = user_counts[user_counts < 20].count()
print(f"交互少于10次的用户数量: {users_with_few_interactions}")

交互少于10次的用户数量: 284

In [20]:
# 计算每个用户的评分次数
user_rating_counts = ratings.groupby('movieId').size().reset_index(name='rating_count')
# 找出最小评分次数
min_rating_count = user_rating_counts['rating_count'].min()
print(f"用户评分的最小次数: {min_rating_count}")
print(f"用户评分的最小次数: {user_rating_counts['rating_count'].max()}")

用户评分的最小次数: 1
用户评分的最小次数: 3428

In [ ]:
# 查看userid=1的用户按时间戳排序的交互记录
ratings[ratings['userId']==10].sort_values('timestamp', ascending=False)

In [ ]:
ratings['userId'].max(), ratings['userId'].min()

In [ ]:
movies = pd.read_csv('../data/ml-10M100K/movies.dat', sep='::', names=['movieId', 'title', 'genres'])
movies.head()

In [ ]:
ratings[ratings['rating'] > 2]

In [ ]:
from collections import Counter

df = ratings.sort_values(['userId', 'timestamp'])  # sort for user and time

# 删除评分小于 score 的交互
df = df[df['rating'] > 2]

# 获取用户物品交互列表
user_item = df[['userId', 'movieId']].values.tolist()
user_item = [list(map(str, line)) for line in user_item]

users, items = zip(*user_item)
user_list = []
item_list = []

users_cnt = Counter(users)
for user, count in users_cnt.items():
    if count >= 10:
        user_list.append(user)

items_cnt = Counter(items)
for item, count in items_cnt.items():
    if count >= 10:
        item_list.append(item)

num_user, num_item = len(user_list), len(item_list)

In [ ]:
len(user_item), len(item_list)

In [ ]:
user2id, item2id = reverse_and_map(user_list), reverse_and_map(item_list)
len(user2id), len(item2id)

In [ ]:
min(item2id.keys()), max(item2id.keys())

In [ ]:
res = []
for x, y in user_item:
    if x in user2id.keys() and y in item2id.keys():
        res.append([user2id[x], item2id[y]])
    else:
        print(x, y)
        print(x in user2id.keys())
        print(y in item2id.keys())
        break

In [ ]:
len(res)