In [1]:
import pandas as pd

## CSV读取

In [ ]:
ratings = pd.read_csv('../data/ml-25ms/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
user_item_counts = ratings.groupby('userId')['movieId'].nunique().reset_index()
user_item_counts.columns = ['userId', 'item_count']
user_item_counts['item_count'].min(), user_item_counts['item_count'].max()

(20, 32202)

In [4]:
ratings['rating'].min(), ratings['rating'].max()

(0.5, 5.0)

In [5]:
movies = pd.read_csv('../data/ml-25m/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
item_entities = movies.iloc[:, :2].values.tolist()  # 只取前两列
item_entities = [[str(x), str(y)] for x, y in item_entities]
item_entities[:10]

[['1', 'Toy Story (1995)'],
 ['2', 'Jumanji (1995)'],
 ['3', 'Grumpier Old Men (1995)'],
 ['4', 'Waiting to Exhale (1995)'],
 ['5', 'Father of the Bride Part II (1995)'],
 ['6', 'Heat (1995)'],
 ['7', 'Sabrina (1995)'],
 ['8', 'Tom and Huck (1995)'],
 ['9', 'Sudden Death (1995)'],
 ['10', 'GoldenEye (1995)']]

## dat读取

In [7]:
ratings = pd.read_csv('../data/ml-1m/ratings.dat', sep='::', names=['userId', 'movieId', 'rating', 'timestamp'])
ratings.head()

C:\Users\dell\AppData\Local\Temp\ipykernel_3684\874908152.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv('../data/ml-1m/ratings.dat', sep='::', names=['userId', 'movieId', 'rating', 'timestamp'])

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [16]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating  timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291
5        1     1197       3  978302268
6        1     1287       5  978302039
7        1     2804       5  978300719
8        1      594       4  978302268
9        1      919       4  978301368
10       1      595       5  978824268
11       1      938       4  978301752
12       1     2398       4  978302281
13       1     2918       4  978302124
14       1     1035       5  978301753
15       1     2791       4  978302188
16       1     2687       3  978824268
17       1     2018       4  978301777
18       1     3105       5  978301713
19       1     2797       4  978302039
20       1     2321       3  978302205
21       1      720       3  978300760
22       1     1270       5  978300055
23       1      527       5  978824195
24       1     2340       3  978300103
25       1       48       5  978824351
26       1     1097       4  978301953
27       1     1721       4  978300055
28       1     1545       4  978824139
29       1      745       3  978824268
30       1     2294       4  978824291
31       1     3186       4  978300019
32       1     1566       4  978824330
33       1      588       4  978824268
34       1     1907       4  978824330
35       1      783       4  978824291
36       1     1836       5  978300172
37       1     1022       5  978300055
38       1     2762       4  978302091
39       1      150       5  978301777
40       1        1       5  978824268
41       1     1961       5  978301590
42       1     1962       4  978301753
43       1     2692       4  978301570
44       1      260       4  978300760
45       1     1028       5  978301777
46       1     1029       5  978302205
47       1     1207       4  978300719
48       1     2028       5  978301619
49       1      531       4  978302149
50       1     3114       4  978302174
51       1      608       4  978301398
52       1     1246       4  978302091

In [8]:
ratings['rating'].max(), ratings['rating'].min()

(5, 1)

In [9]:
ratings['userId'].max(), ratings['userId'].min()

(6040, 1)

In [10]:
movies = pd.read_csv('../data/ml-10M100K/movies.dat', sep='::', names=['movieId', 'title', 'genres'])
movies.head()

C:\Users\dell\AppData\Local\Temp\ipykernel_3684\1545558289.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_csv('../data/ml-10M100K/movies.dat', sep='::', names=['movieId', 'title', 'genres'])

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
item_entities = movies.iloc[:, :2].values.tolist()  # 只取前两列
item_entities = [[str(x), str(y)] for x, y in item_entities]
item_entities[:10]

[['1', 'Toy Story (1995)'],
 ['2', 'Jumanji (1995)'],
 ['3', 'Grumpier Old Men (1995)'],
 ['4', 'Waiting to Exhale (1995)'],
 ['5', 'Father of the Bride Part II (1995)'],
 ['6', 'Heat (1995)'],
 ['7', 'Sabrina (1995)'],
 ['8', 'Tom and Huck (1995)'],
 ['9', 'Sudden Death (1995)'],
 ['10', 'GoldenEye (1995)']]