In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("D:\Code\graduation_design\old_datasets\processed\Kindle\\ratings.data", sep="\t")
df.columns = ['user', 'item', 'rating', 'timestamp']
df

                   user        item  rating   timestamp
0         A8WQ7MAG3HFOZ  B000FA5KK0     5.0  1473984000
1         A1E0MODSRYP7O  B000FA5KK0     5.0  1456963200
2         AYUTCGVSM1H7T  B000FA5KK0     5.0  1441843200
3         A9DXGM6YGV14D  B000FA5KK0     5.0  1434240000
4        A3MF8G33UKQLGL  B000FA5KK0     3.0  1433203200
...                 ...         ...     ...         ...
2222976  A3Q6HJYRJX87Z9  B01HJENY3Y     3.0  1468627200
2222977  A2O7HQNKCMOMUP  B01HJENY3Y     5.0  1468281600
2222978  A38NOWP7LQI8CM  B01HJENY3Y     5.0  1467331200
2222979  A1H9WGEEKVK0FM  B01HJENY3Y     5.0  1467331200
2222980   AGBVBXSAJDD4H  B01HJENY3Y     5.0  1467331200

[2222981 rows x 4 columns]

In [12]:
data = df[df['rating'] > 3.5]

item_counts = data['item'].value_counts()
items_to_keep = item_counts[item_counts >= 50].index
data = data[data['item'].isin(items_to_keep)]

user_counts = data['user'].value_counts()
users_to_keep = user_counts[user_counts >= 25].index
data = data[data['user'].isin(users_to_keep)]

print(f"用户数量: {len(data['user'].unique())}, 物品数量: {len(data['item'].unique())}")

data = data.sort_values(['user', 'timestamp'])
data = data.reset_index(drop=True)
data

用户数量: 4666, 物品数量: 7843

                       user        item  rating   timestamp
0       A0020356UF96ZV361ST  B00PVFSH4K     5.0  1433289600
1       A0020356UF96ZV361ST  B00O885E2O     5.0  1434931200
2       A0020356UF96ZV361ST  B010BO7TSA     4.0  1438387200
3       A0020356UF96ZV361ST  B00ZI5OVFM     4.0  1438560000
4       A0020356UF96ZV361ST  B016NO06XM     5.0  1445472000
...                     ...         ...     ...         ...
240232        AZZ137FPTUC87  B0149QJBIM     5.0  1440460800
240233        AZZ137FPTUC87  B00S3RK7O6     4.0  1441843200
240234        AZZ137FPTUC87  B0143J3AXW     5.0  1442102400
240235        AZZ137FPTUC87  B01442GGZM     4.0  1443398400
240236        AZZ137FPTUC87  B00UQEJ2QI     4.0  1443916800

[240237 rows x 4 columns]

In [13]:
data.to_csv("kindle_data.csv", index=False)