In [2]:
import json
import pandas as pd
from tqdm import tqdm

## å¤„ç†æ•°æ®é›†

å¤„ç†äº¤äº’ä¿¡æ¯

In [3]:
file = "D:\work_space\Office_Products.jsonl"
with open(file, 'r') as fp:
    for line in tqdm(fp):
        data = json.loads(line.strip())
        user_id = data['user_id']
        asin = data['asin'] 
        rating = data['rating']
        timestamp = data['timestamp']

        with open('D:/Code/graduation_design/data/Office_Products/interaction.dat', 'a') as f:
            f.write(f"{user_id}::{asin}::{rating}::{timestamp}\n")

0it [00:00, ?it/s]

12845712it [51:03, 4193.05it/s]

å¤„ç†ç‰©å“ä¿¡æ¯

In [37]:
file = "D:\work_space\meta_Office_Products.jsonl"
with open(file, 'r') as fp:
    for line in tqdm(fp):
        data = json.loads(line.strip())
        parent_asin = data['parent_asin']
        with open('D:/Code/graduation_design/data/Office_Products/item.dat', 'a') as f:
            f.write(f"{parent_asin}:::{json.dumps(data)}\n")

683223it [03:41, 2854.52it/s]

## å¯¹ç”¨æˆ·ç‰©å“äº¤äº’æ•°æ®é›†è¿›è¡Œç­›é€‰

è¯»å–æ•°æ®é›†

In [4]:
df = pd.read_csv("D:\Code\graduation_design\data\kuairec\interaction.csv", sep=",", engine='python')
df.columns = ['user', 'item', 'watch_ratio', 'timestamp']
df

         user  item  watah_ratio     timestamp
0          14   148     0.722103  1.593898e+09
1          14   183     1.907377  1.593898e+09
2          14  3649     2.063311  1.593898e+09
3          14  5262     0.566388  1.593898e+09
4          14  8234     0.418364  1.593899e+09
...       ...   ...          ...           ...
4676565  7162  2267     2.178160           NaN
4676566  7162  2065     1.964562           NaN
4676567  7162  1296     0.839960           NaN
4676568  7162  4822     0.486148           NaN
4676569  7162  4364     0.112666           NaN

[4676570 rows x 4 columns]

In [5]:
df = df[df['timestamp'].notna()]
df

         user  item  watah_ratio     timestamp
0          14   148     0.722103  1.593898e+09
1          14   183     1.907377  1.593898e+09
2          14  3649     2.063311  1.593898e+09
3          14  5262     0.566388  1.593898e+09
4          14  8234     0.418364  1.593899e+09
...       ...   ...          ...           ...
4676370  7162  9177     0.142857  1.598962e+09
4676371  7162  4987     1.234848  1.599029e+09
4676372  7162  7988     1.024412  1.599094e+09
4676373  7162  6533     0.273750  1.599231e+09
4676374  7162  6523     1.641489  1.599237e+09

[4494578 rows x 4 columns]

In [10]:
ratio_count = df[df['watah_ratio'] >= 0.7].shape[0]
total_count = df.shape[0]
ratio_percentage = (ratio_count / total_count) * 100 if total_count > 0 else 0
print(f"watah_ratioå¤§äºç­‰äº1çš„æ¯”ä¾‹: {ratio_percentage:.2f}%")

watah_ratioå¤§äºç­‰äº1çš„æ¯”ä¾‹: 56.44%

In [14]:
filter_df = df[df['watah_ratio'] >= 0.7]
filter_df

         user  item  watah_ratio     timestamp
0          14   148     0.722103  1.593898e+09
1          14   183     1.907377  1.593898e+09
2          14  3649     2.063311  1.593898e+09
6          14  1963     0.898123  1.593899e+09
9          14   171     1.632739  1.593900e+09
...       ...   ...          ...           ...
4676366  7162  4978     1.527117  1.598956e+09
4676368  7162  3360     1.457282  1.598960e+09
4676371  7162  4987     1.234848  1.599029e+09
4676372  7162  7988     1.024412  1.599094e+09
4676374  7162  6523     1.641489  1.599237e+09

[2536880 rows x 4 columns]

In [18]:
average_interactions = filter_df.groupby('user').size().mean()
print(f"å¹³å‡æ¯ä¸ªç”¨æˆ·çš„äº¤äº’æ•°é‡: {average_interactions:.2f}")
average_interactions = filter_df.groupby('item').size().mean()
print(f"å¹³å‡æ¯ä¸ªç‰©å“çš„äº¤äº’æ•°é‡: {average_interactions:.2f}")

å¹³å‡æ¯ä¸ªç”¨æˆ·çš„äº¤äº’æ•°é‡: 1797.93
å¹³å‡æ¯ä¸ªç‰©å“çš„äº¤äº’æ•°é‡: 762.97

In [19]:
filter_df.to_csv("D:/Code/graduation_design/data/kuairec/interaction.dat", index=False)

In [16]:
ratio_df = filter_df
item_counts = ratio_df['item'].value_counts()
items_to_keep = item_counts[item_counts >= 20].index
ratio_df = ratio_df[ratio_df['item'].isin(items_to_keep)]

user_counts = ratio_df['user'].value_counts()
users_to_keep = user_counts[user_counts >= 30].index
ratio_df = ratio_df[ratio_df['user'].isin(users_to_keep)]

print(f"ç”¨æˆ·æ•°é‡: {len(ratio_df['user'].unique())}, ç‰©å“æ•°é‡: {len(ratio_df['item'].unique())}")

ratio_df = ratio_df.sort_values(['user', 'timestamp'])
ratio_df = ratio_df.reset_index(drop=True)
ratio_df

ç”¨æˆ·æ•°é‡: 1411, ç‰©å“æ•°é‡: 3146

         user  item  watah_ratio     timestamp
0          14   148     0.722103  1.593898e+09
1          14   183     1.907377  1.593898e+09
2          14  3649     2.063311  1.593898e+09
3          14  1963     0.898123  1.593899e+09
4          14   171     1.632739  1.593900e+09
...       ...   ...          ...           ...
2535185  7162  1331     0.966409  1.598952e+09
2535186  7162  4978     1.527117  1.598956e+09
2535187  7162  3360     1.457282  1.598960e+09
2535188  7162  4987     1.234848  1.599029e+09
2535189  7162  6523     1.641489  1.599237e+09

[2535190 rows x 4 columns]

In [17]:
average_interactions = ratio_df.groupby('user').size().mean()
print(f"å¹³å‡æ¯ä¸ªç”¨æˆ·çš„äº¤äº’æ•°é‡: {average_interactions:.2f}")

å¹³å‡æ¯ä¸ªç”¨æˆ·çš„äº¤äº’æ•°é‡: 1796.73

In [ ]:
data.to_csv("D:/Code/graduation_design/data/Office_Products/processed_interaction.dat", index=False)

## å¤„ç†item.datæ•°æ®é›†

### ç”¨äºåŸºç¡€æ¨¡å‹è®­ç»ƒ

In [21]:
df = pd.read_csv("D:\Code\graduation_design\data\kuairec\data\kuairec_caption_category.csv", sep=",", engine='python')
df

,video_id,manual_cover_text,caption,topic_tag,first_level_category_id,first_level_category_name,second_level_category_id,second_level_category_name,third_level_category_id,third_level_category_name
0,0,UNKNOWN,ç²¾ç¥å°ä¼™è·¯éš¾èµ° ç¨‹å“¥ä½ ç‹—ç²®æ…¢ç‚¹æ’’,[],8.0,é¢œå€¼,673.0,é¢œå€¼éšæ‹,-124.0,UNKNOWN
1,1,UNKNOWN,NaN,[],27.0,é«˜æ–°æ•°ç,-124.0,UNKNOWN,-124.0,UNKNOWN
2,2,UNKNOWN,æ™šé¥­åï¼Œè¿åŠ¨ä¸€ä¸‹ï¼,[],9.0,å–œå‰§,727.0,æç¬‘äº’åŠ¨,-124.0,UNKNOWN
3,3,UNKNOWN,æˆ‘å¹³æ·¡æ— å¥‡ï¼ŒæƒŠè‰³ä¸äº†æ—¶å…‰ï¼Œæ¸©æŸ”ä¸äº†å²æœˆï¼Œæˆ‘åªæƒ³æ¼«æ— ç›®çš„çš„èµ°èµ°ï¼ŒåŠªåŠ›å‘ç¬”å°è´¢ï¼Œç»™è‡ªå·±ä¹°èŠ± è‡ªå·±é•¿å¤§.,[],26.0,æ‘„å½±,686.0,ä¸»é¢˜æ‘„å½±,2434.0,æ™¯ç‰©æ‘„å½±
4,4,äº”çˆ±è¡—æœ€ç¾ç¾å¥³ ä¸€å¤©1q,#æç¬‘ #æ„Ÿè°¢å¿«æ‰‹æˆ‘è¦ä¸Šçƒ­é—¨ #äº”çˆ±å¸‚åœº è¿™çœŸæ˜¯å®Œç¾æ­é…å•Šï¼,"[äº”çˆ±å¸‚åœº,æ„Ÿè°¢å¿«æ‰‹æˆ‘è¦ä¸Šçƒ­é—¨,æç¬‘]",5.0,æ—¶å°š,737.0,è¥é”€å”®å–,2596.0,å¥³è£…
...,...,...,...,...,...,...,...,...,...,...
10727,10723,UNKNOWN,æ˜¨å¤©çˆ±ä½ ï¼Œä»Šå¤©çˆ±ä½ ï¼Œæ˜å¤©ä¹Ÿçˆ±ä½ ï¼Œä¸«å¤´ï¼Œåˆ«æ‹…å¿ƒï¼Œæˆ‘ä»¥åéƒ½ä¼šçˆ±ä½ ï¼Œæˆ‘çš„å°å‚»ç“œ@å…¬ä¸»æ²¡çƒ¦æ¼ ã€(O...,[],33.0,è‡ªæ‹,-124.0,UNKNOWN,-124.0,UNKNOWN
10728,10724,UNKNOWN,#æ„Ÿè°¢æ¨å¹¿å°åŠ©æ‰‹ #æ„Ÿè°¢å¿«æ‰‹ç»¿è‰²å¹³å° #,"[æ„Ÿè°¢å¿«æ‰‹ç»¿è‰²å¹³å°,æ„Ÿè°¢æ¨å¹¿å°åŠ©æ‰‹]",6.0,æ˜æ˜Ÿå¨±ä¹,-124.0,UNKNOWN,-124.0,UNKNOWN
10729,10725,UNKNOWN,NaN,[],15.0,è‰ºæœ¯,170.0,è¡¨æ¼”,-124.0,UNKNOWN
10730,10726,è€äººè¨€,è€äººè¨€ï¼Œå–œæ¬¢ç•™ä¸ªå…³æ³¨åŠ çº¢å¿ƒ #è€äººè¨€ @ä»Šå¤©æ‹ç‚¹å•¥(O840386039) @å¿«æ‰‹æ´»åŠ¨ä¸­...,[è€äººè¨€],38.0,è¯»ä¹¦,696.0,æ–‡å­¦èµæ,2477.0,æ°‘é—´ä¿—è¯­
10731,10727,ä¸€çœ¼å°±å–œæ¬¢çš„é“¾æ¡å«è¡£ğŸ”¥,ä¸€çœ¼å°±å–œæ¬¢çš„é“¾æ¡çº¯è‰²å«è¡£ ç™¾æ­é¢œè‰²é»‘ç™½ç° å–œæ¬¢çš„å®å®ç‚¹ç‚¹å…³æ³¨ å°é»„è½¦å¯ç›´æ¥ä¸‹å•å“ˆ#ä¸»æ’­ä¸­å¿ƒ ...,"[ä¸»æ’­ä¸­å¿ƒ,ä½œå“æ¨å¹¿,å¿«æ‰‹åˆ›ä½œè€…æœåŠ¡ä¸­å¿ƒ,æ„Ÿè°¢å¿«æ‰‹æˆ‘è¦ä¸Šçƒ­é—¨,æ™ºèƒ½æ¨å¹¿]",5.0,æ—¶å°š,737.0,è¥é”€å”®å–,-124.0,UNKNOWN

In [22]:
selected_columns = df[['video_id', 'caption']]
selected_columns.to_csv('output.csv', index=False)